{{define "iii2/index.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>iii2/index</title>
    </head>
    <body>
    {{.name | safe}}
    </body>
    </html>
{{end}}