{{define "iii1/index.html"}}
    <!DOCTYPE html>
    <html lang="zh">

    <head>
        <meta charset="UTF-8">
        <title>iii1/index</title>
    </head>
    <body>
    {{.name}}<br>
    <img src="/static/vnc.jpg">
    </body>
    </html>
{{end}}
