{{define "ii/index.html"}}
    <!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>ii/index</title>
    </head>
    <body>
    {{.name}}
    </body>
    </html>
{{end}}